body
{
	background-color:yellow;
	color:white;
	margin:0;

}
header{
	background:url(milkyway.jpg);
	height:100vh;
	background-size: cover;
}
#hello
{
text-align: center;}

.horizantal-list{
       
      list-style: circle;
	   font-size: 50px;
}
.horizontal-list li{
	display:inline-block;

}